<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
			<buildProviders>
				<add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
			</buildProviders>
		</compilation>
		<httpRuntime maxRequestLength="51200" executionTimeout="300" enableVersionHeader="false" />
		<globalization culture="en-US" uiCulture="en-US" />
		<machineKey validation="AES" />
		<customErrors mode="Off" defaultRedirect="Page_error.aspx" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="31" />
		<authorization>
			<deny verbs="OPTIONS" users="*" />
		</authorization>
	</system.web>
	<connectionStrings>
  <add name="PTTGC_EPIConnStr" connectionString="Data Source=gcgpdblist.pttgc.corp;Initial Catalog=PTTGC_sustain_web;User ID=pttgc_sustain_web;Password=xxxx"
   providerName="System.Data.SqlClient" />
  <add name="PTTGC_EPIEntities" connectionString="metadata=res://*/App_Code.PTTGC_EPI.csdl|res://*/App_Code.PTTGC_EPI.ssdl|res://*/App_Code.PTTGC_EPI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gcgpdblist.pttgc.corp;initial catalog=PTTGC_sustain_web;persist security info=True;user id=pttgc_sustain_web;password=xxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
 </connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="true">
					<add fileExtension=".sql" allowed="false" />
					<add fileExtension=".exe" allowed="false" />
					<add fileExtension=".dll" allowed="false" />
				</fileExtensions>
				<requestLimits maxAllowedContentLength="52428800" />
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<defaultDocument>
			<files>
				<add value="AD/loginAD.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
		<add key="PTTEPIServicePTTGCComCode" value="012" />
		<add key="DefaultPage" value="AD/loginAD.aspx" />
		<add key="SystemName" value="PTTGC Environmental" />
		<add key="smtpmail" value="smtp.pttgc.corp" />
		<add key="SystemMail" value="no-replyPTTGCSustain@pttgcgroup.com" />
    
		<!-- Set value to 'N' for send mail To user-->
		<add key="IsDemoMail" value="N" />
    
		<!-- Email Recieve Demo Mail-->
		<add key="RecieveDemoMail" value="wigrom.w@softthai.com;chotika.n@softthai.com" />
    
		<!--สำหรับแสดงค่าใน Dropdown Start Year-->
		<add key="startYear" value="2000" />
    
		<!--สำหรับแสดงค่าใน Dropdown Year-->
		<add key="sTextCulture" value="en-US" />
    
		<!--For dropdownlist year on website >> now year + values in key AddYearDDL -->
		<add key="AddYearDDL" value="1" />
    
		<add key="portmail" value="25" />
		<add key="AddErrorLog" value="Y" />
		<add key="PwdBypass" value="1234" />
		<add key="UrlSite" value="http://gcgplbiis02/pttgc_sustain_SHE/" />
		<add key="PageTitle" value="PTTGC Environmental System | PTT Global Chemical" />
		<add key="UserIDAdmin" value="1"/>
		<add key="formaNA" value="N/A"/>
    <add key="DefaultPass" value="P@$$w0rd" />
    <add key="cSendMail" value="Y" />
    <add key="ContactMail" value="chotika.n@softthai.com" />
	<add key="SupperAdminPWD" value="Initial0!" /> 
  </appSettings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
               <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EPIServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://pttgweb2.pttgrp.com/EPI/EPIService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EPIServiceSoap"
        contract="PTTEPI_Service.EPIServiceSoap" name="EPIServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>